<?xml version="1.0"?>
<launch>
    <!-- <node pkg="living_storyboard" type="command_node.py" name="command_node" output="screen" /> -->
    <node pkg="living_storyboard" type="message_node.py" name="message_node">
    </node>

    <node pkg="living_storyboard" type="external_behavior_node.py" name="investigate_node"
            args="Investigate" output="screen">
    </node>

    <node pkg="living_storyboard" type="external_behavior_node.py"  name="evacuate_node"
            args="Evacuate" output="screen">
    </node>

    <node pkg="living_storyboard" type="external_behavior_node.py"  name="breach_search_node"
            args="BreachSearch" output="screen">
    </node>

    <node pkg="living_storyboard" type="external_behavior_node.py"  name="monitor_security_node"
            args="MonitorSecurity" output="screen">
    </node>

    <node pkg="living_storyboard" type="external_behavior_node.py"  name="patrol_node"
            args="Patrol" output="screen">
    </node>
    
    <node pkg="living_storyboard" type="external_behavior_node.py"  name="follow_breach_node"
            args="FollowBreach" output="screen">
    </node>

</launch>
